*.o
*.log
*.scan
pkg-mgr
config*
Makefile
Makefile.in
depcomp
missing
install-sh
aclocal.m4
autom4te.cache
test-driver
*.log
*.trs
.deps
.dirstamp
stamp-h1
tstPkg
tstConfig
tstOptions
*.bak
*test-env*
